---
import { Icon } from 'astro-icon'
const today = new Date();
---


<footer>
  
  <ul>
    &copy; {today.getFullYear()} Yatima. All rights reserved.
    
    <li>
      <a rel="prefetch" href="https://github.com/yatima99">
        <Icon name='fa-brands:github' role="img" aria-label="github" />
      </a>

    </li>
  </ul>
</footer>

